{% extends 'main/footer_base.html' %}
{% block head_input %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<div class="login_main">
    <div class="logo">
        <img src="{% static 'main/images/logo.png' %}" alt="COLRED">
    </div>
    <div>
        <h2>Создатель и редактор персонажей для Pathfinder 2E</h2>
    </div>
    <div class="filter_fix">
        <div class="shadow">
        </div>
        <div class="login_form">
            <form class="py_form" method="post">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="conf_button_b mobile_fix">
                    <div class="filter_fix conf_button">
                        <div class="button_backing shadow"></div>
                        <div>Регистрация</div>
                    </div>
                </button>
            </form>
        </div>
    </div>
    <p>
        или
        <a href="/login">Войти</a>
    </p>
</div>


{% endblock %}