{% extends 'main/footer_base.html' %}
{% block list %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
{% endblock %}

{% block header %}
{% load static %}
<div class="floating_search shadow">
    <div class="search_field">
        {% for chr in characters %}
        <a filter="{{chr.name}}" href="/redactor/{{chr.usr.id}}/{{chr.id}}">
            <div class="search_listing">
                <div class="char_logo">
                    <img src='/media/{{chr.portrait}}'
                        alt="+">
                </div>
                <div>{{chr.name}}</div>
            </div>
        </a>
        {% endfor %}
        <a filter="" href="/create_new" class="new_one">
            <div class="search_listing">
                <div class="char_logo">
                    <img src="https://img2.freepng.ru/20180425/fww/kisspng-plus-and-minus-signs-5ae10740998772.7506031915246968966289.jpg"
                        alt="+">
                </div>
                <div>Создать нового!</div>
            </div>
        </a>
    </div>
    <div class="strange"></div>
</div>
<header id="the_header">
    <div class="coach">
        <div class="logo">
            <a href="{% url 'main_page' %}">
                <img src="{% static 'main/images/logo.png' %}" alt="COLRED">
            </a>
            <div>Создатель и редактор персонажей для DnD 5 Ed.</div>
        </div>
        <div class="hide"></div>
        <div class="search shadow">
            <div>
                <input type="text" placeholder="поиск" id="main_search">
            </div>
        </div>
        <div class="">
            <div class="filter_fix lknick">
                <div class="nickname"></div>
                <div>{% block username %}{% endblock %}</div>
            </div>
            <a href="{% url 'lk' %}" class="avatar filter_fix">
                <div>
                    <img src="{% get_static_prefix %}{% block ava_image %}{% endblock %}" alt="ava">
                </div>
                <div></div>
            </a>
        </div>

    </div>
    <div class="strange"></div>
</header>
<script type="text/javascript" src="{% static 'main/js/search.js' %}"></script>
{% endblock %}