.char_logo{
    padding: 27px;
margin-top: 60px;
background-color: #b5a900;
}
.char_info{
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    width: 400px;
}

.char_stats{
    background-color: #171717;
    padding: 15px;
}
.up{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 25px;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
}
.down{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 25px;
    margin-top: 100px;
}
.right_page{
    display: flex;
    align-items: center;
    margin: 10px;
    flex-direction: column;
}
.main_stats{
    display: flex;
    align-items: center;
    margin: 10px;
    flex-direction: row;
}
.add_info{
    display: flex;
    align-items: center;
    margin: 10px;
}

.stats{
    display: flex;
    align-items: center;
    margin: 10px;
    flex-direction: column;
}
.placeholder{
    font-size: 24px;
}
.name{
    padding: 10px;
    font-size: 24px;
    background-color: #171717;
}

.titles{
    padding: 15px;
    background-color: #171717;
}