* {
    transition: all 0s;
}

main {
    margin: 20px;
    font-size: 20px;
}

.login_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
}

.login_main a:hover{
    text-decoration: underline;
}

.login_main>div {
    margin: 5px 0;
}

.login_main .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20rem;
    height: auto;
}

.login_main .logo>img {
    width: 100%;
    height: auto;
    filter: invert(1);
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login_form label {
    display: none;
}

.py_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 255px;
    background-color: #ccb600;
    
}

.py_form>input {
    filter: unset;
    margin: 10px 0;
    text-align: center;
    outline: none;
    width: 250px;
    border: 0;
    background: unset;
    color: black;
}

.conf_button_b {
    margin-top: 15px;
    background: unset;
    border: 0px;
    cursor: pointer;
    width: 85px;
    height: 70px;
}

.conf_button {
    background: unset;
    border: 0px;
    cursor: pointer;
    width: 85px;
    height: 70px;
}

.button_backing {
    background: url(../images/login_button.svg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    filter: invert(0.5);
}

.conf_button:hover .button_backing {
    background: url(../images/login_button_pressed.svg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.conf_button>div:nth-child(2) {
    margin-top: 50px;
    color: rgb(121, 121, 121);
}

.login_main>p{
    margin-top: 20px;
}

.errorlist {
    position: absolute;
    top: 50px;
    background-color: bisque;
    border-radius: 5px;
}


